#main_login_page{
    background-color:#8080801a;
    margin-top: 50px;
    width: 100%;
    height: 750px;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#main_login_page>div{
    padding: 20px;
    background-color: white;
    margin-top: 50px;
    width: 400px;
    height: 578px;
    border: 0px solid red;
}
#main_login_page>div:nth-child(2){
    height: 150px;
}
#main_login_page>div>input{
    width:350px;
    height: 39px;
    margin-left: 20px;
    margin-bottom: 40px;
}
#main_login_page>div>h3{
    margin-left: 10px;
    margin-bottom: 5px;
}
#main_login_page>div>a,p{
    margin-left: 20px;
    color: black;
    
}
#main_login_page_btn{
    width:355px;
    height: 42px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    /* border: 1px solid black; */
}
.logoflex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border: 0px solid black;
}
.logoflex>div{
    display: flex;
    width: 49%;
    height: 50px;
    margin: auto;
    cursor: pointer;
    border: 1px solid grey;
}
.logoflex>div:hover{
    background-color: rgb(242 242 242);
    border: none;
}
.logoflex .imagefg>div{
    display: flex;
    width: 44%;
    height: 34px;
    border: 0px solid green;
    margin: auto;
}
.logoflex .imagefg img{
    width: 30px;
    height: 30px;
    margin: auto;
}
.imagefg h5{
    margin-top: 6px;
    margin-right: 12px;
    color: rgb(87, 86, 86);
    font-weight: bold;
    
}
.fa {
    background: #3B5998;
    padding: 6px;
    font-size: 30px;
    /* width: 50px; */
    /* text-align: center; */
    text-decoration: none;
    margin: -21px -2px;
}
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-top: -7px;
    margin-left: 3px;
  }
  #two_icon>div>a{
    padding: 10px;
  }
  .input>input{
    width:350px;
    height: 39px;
    margin-left: 17px;
    margin-bottom: 40px;
  }