body {
  padding: 0;
  margin: 0;
}
#navbar {
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
}
#top {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 93%;
}
#f-right {
  display: flex;
  justify-content: space-around;
  width: 13%;
}
#f-account {
  display: flex;
  align-items: center;
  padding: 5px;
}
.acc-anchor {
  text-decoration: none;
  color: black;
}
.best {
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}
.best-div {
  height: 30px;
}
#f-account:hover {
  background-color: rgb(255, 246, 246);
  transition: 500ms;
  cursor: pointer;
}
#f-account img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  margin-bottom: 6px;
}
#f-cart {
  display: flex;
  align-items: center;
  padding: 5px;
}
#f-cart:hover {
  background-color: rgb(255, 246, 246);
  transition: 500ms;
  cursor: pointer;
}
#f-cart img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  margin-bottom: 6px;
}
#bottom {
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  cursor: pointer;
}
#bottom div {
  margin-top: 10px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
  font-family: Arial, sans-serif;
}
.skin {
  text-decoration: none;
  color: black;
}
#bottom div:hover {
  background-color: rgb(255, 246, 246);
  transition: 500ms;
}
#f-search {
  width: 20%;
  display: flex;
  align-items: center;
  border: 1px solid gray;
}
#f-search img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#f-search input {
  width: 100%;
  border: 0px;
  padding: 10px;
  outline: none;
}
#f-search input[type="button"] {
  border: none;
  color: white;
  border: none;
  outline: none;
  display: block;
}
#f-search input ::placeholder {
  color: red;
}
#mini-top {
  margin: auto;
  display: flex;
  gap: 180px;
  width: 50%;
}
#mini-top {
  width: 80%;
}
.mini-top-right div {
  display: flex;
  margin-right: 20px;
}
.mini-top-right div div {
  padding: 8px;
  background-color: #d8d8d8;
  border-radius: 50%;
}
.mini-top-right div div:hover {
  cursor: pointer;
  background-color: #eeecec;
}
.mini-top-right div img {
  width: 30px;
}
.mini-top-left button {
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border: 0;
  background-color: black;
  color: white;
}
.mini-top-left button:hover {
  cursor: pointer;
  background-color: #828282;
  transition: 0.3s;
}
.mini-bottom {
  display: flex;
  border-bottom: 1px solid #999999;
  margin-top: 30px;
}
.mini-bottom div:nth-child(1) {
  border-top: 1px solid #999999;
  width: 30%;
  margin-left: 190px;
  margin-right: 80px;
}
.mini-bottom-second {
  border-top: 1px solid #999999;
}
.mini-bottom-third {
  border-top: 1px solid #999999;
}
.mini-bottom-fourth {
  border-top: 1px solid #999999;
}
.mini-bottom div {
  margin-right: 50px;
}
.mini-bottom div div {
  display: flex;
  align-items: center;
  width: 60%;
  padding-right: 50px;
}
.mini-bottom div div:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
#footer-end {
  width: 80%;
  margin-left: -100px;
}
#footer {
  border-top: 1px solid black;
  margin-top: 10px;
}
.mini-bottom div div img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* drop down */

#bottom div ul li {
  position: relative;
  list-style: none;
  display: inline-block;
}
#bottom div ul li a {
  display: block;
  color: black;
  text-decoration: none;
}
#bottom div ul {
  position: absolute;
  display: none;
}
#bottom div :hover > ul {
  display: block;
}

/* bottom navbar */
#bottom-navbar {
  border-top: 1px solid #dbcdcd;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}
#bottom-navbar div {
  /* border: 1px solid; */
  margin-right: 60px;
  display: flex;
  align-items: center;
}
#bottom-navbar div:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(52, 51, 51);
}
#bottom-navbar div img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
