#navbar{
    /* display: inline-flex; */
}
#top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}
#f-right{
    display: flex;
    justify-content: space-around;
    width: 13%;
    border: 1px solid red;
}
#f-account{
    
}
#bottom{
    display: flex;
    justify-content: space-evenly;
    /* font-family: 'Times New Roman', Times, serif; */
}